<aside id="sidebar" class="sidebar">
    <div id="secondary" class="secondary">
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="side-menu">
                <ul class="nav-menu">
                    <li class="menu-item current"><a href="http://project.loftil.ru">Обо мне</a></li>
                    <li class="menu-item"><a href="">Мои работы</a></li>
                    <li class="menu-item"><a href="">Связаться со мной</a></li>
                </ul>
            </div>
        </nav>
        <address id="contact-navigation" class="contact-navigation" role="contact">
            <div class="contact">
                <ul class="contact-menu">
                    <li class="social-item">Контакты</li>
                    <li class="social-item mail"><a href="mailto:bzx@mail.ru"><i class="fa fa-envelope-o"></i>bzx@mail.ru</a></li>
                    <li class="social-item phone"><a href="tel:+972545954696"><i class="fa fa-phone"></i>+972545954696</a></li>
                    <li class="social-item skype"><a href="skype:minton-bzx?chat"><i class="fa fa-skype"></i>minton-bzx</a></li>
                </ul>
            </div>
        </address>
    </div>
</aside>