<aside id="sidebar" class="sidebar">
    <div id="secondary" class="secondary">
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="side-menu">
                <ul class="nav-menu">
                    <li class="menu-item"><a class="menu-link" href="http://project.loftil.ru/index.html">Обо мне</a></li>
                    <li class="menu-item"><a class="menu-link" href="http://project.loftil.ru/works.html">Мои работы</a></li>
                    <li class="menu-item"><a class="menu-link" href="http://localhost:9000/contact.html">Связаться со мной</a></li>
                </ul>
            </div>
        </nav>
        <address id="contact-navigation" class="contact-navigation">
            <div class="contact">
                <ul class="contact-menu">
                    <li class="social-item">Контакты</li>
                    <li class="social-item mail"><a class="side-soc-link" href="mailto:bzx@mail.ru">bzx@mail.ru</a></li>
                    <li class="social-item phone"><a class="side-soc-link" href="tel:+972545954696">+972545954696</a></li>
                    <li class="social-item skype"><a class="side-soc-link" href="skype:minton-bzx?chat">minton-bzx</a></li>
                </ul>
            </div>
        </address>
    </div>
</aside>