<header class="header">
    <div class="header-area">
        <a href="http://loftil.ru">
            <img src="img/logo.png" alt="site logo"/>
            <span class="hidden">Сайт портфолио</span>
        </a>
        <ul class="social-list">
            <li><a href="http://github.com" target="_blank"><i class="fa fa-vk"></i><span class="hidden">VK</span></a></li>
            <li><a href="http://github.com" target="_blank"><i class="fa fa-twitter"></i><span class="hidden">Twitter</span></a></li>
            <li><a href="http://github.com" target="_blank"><i class="fa fa-facebook"></i><span class="hidden">Facebook</span></a></li>
            <li><a href="http://github.com" target="_blank"><i class="fa fa-github"></i><span class="hidden">Github</span></a></li>
        </ul>
    </div>
</header>