<header class="header">
    <div class="header-area">
        <a href="http://loftil.ru">
            <img src="img/logo.png" alt="site logo"/>
            <span class="hidden">Сайт портфолио</span>
        </a>
        <ul class="social-list">
            <li class="social-item"><a class="vk" href="https://vk.com/mintonxbz" target="_blank"><span class="hidden">VK</span></a></li>
            <li class="social-item"><a class="tw" href="https://twitter.com/dimaminka" target="_blank"><span class="hidden">Twitter</span></a></li>
            <li class="social-item"><a class="facebook" href="https://www.facebook.com/Mintonxbz" target="_blank"><span class="hidden">Facebook</span></a></li>
            <li class="social-item"><a class="github" href="https://github.com/Loftil/project" target="_blank"><span class="hidden">Github</span></a></li>
        </ul>
    </div>
</header>