<section class="content-area">
    <h2>Основная информация</h2>
    <div>
        <div class="profile-image"><img src="img/profile.jpg" alt="profile image"/></div>
        <ul class="profile-info">
            <li><span>Меня зовут:</span>Минка Дмитрий Вячеславович</li>
            <li><span>Мой возраст:</span>30 лет</li>
            <li><span>Мой город:</span>Кармиель</li>
            <li><span>Моя специализация:</span>FRONTEND разработчик</li>
            <li>
                <span>Ключевые навыки:</span>
                <ul>
                    <li><a href="#"><span>html</span></a></li>
                    <li><a href="#"><span>CSS</span></a></li>
                    <li><a href="#"><span>javascript</span></a></li>
                    <li><a href="#"><span>gulp</span></a></li>
                    <li><a href="#"><span>git</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<section class="content-area">
    <h2>Опыт работы</h2>
    <div>
        <ul class="profile-desc">
            <li><span>Тех.поддержка и продажи в компъютерном магазине</span>Май 2007 - Июнь 2011</li>
            <li><span>Маленькая веб-студия</span>Февраль 2013 - по настоящее время</li>
        </ul>
    </div>
</section>
<section class="content-area">
    <h2>Образование</h2>
    <div>
        <ul class="profile-desc">
            <li class="icon-learn"><span>Самообучение по видео урокам</span>Август 2012 - Февраль 2013</li>
            <li class="icon-doc"><span>Самообучение во время работы веб разработчиком</span>Февраль 2013 - по настоящее время</li>
        </ul>
    </div>
</section>