<section class="content-area work-page">
    <h1 class="content-title general-info">Мои работы</h1>
    <div class="container works-wrapper">
        <div class="project">
            <div class="project-image">
                <div class="image-wrap"><img class="post-image" src="img/portfolio1.jpg" alt="image zemeldesign"/></div>
                <div class="project-overload">
                    <a class="project-over-link" href="http://zemeldesigns.co.il/" target="_blank">zemeldesign.co.il</a>
                    <span class="over-helper">height helper</span>
                </div>
            </div>
            <div class="project-info">
                <a class="project-link" href="http://zemeldesigns.co.il/" target="_blank">zemeldesign.co.il</a>
                <p class="project-desc">Дизайн студия по оформлению торжеств...</p>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <div class="image-wrap"><img class="post-image" src="img/portfolio2.jpg" alt="image rop.co.il"/></div>
                <div class="project-overload">
                    <a class="project-over-link" href="http://rop.co.il/" target="_blank">rop.co.il</a>
                    <span class="over-helper">height helper</span>
                </div>
            </div>
            <div class="project-info">
                <a class="project-link" href="http://rop.co.il/" target="_blank">rop.co.il</a>
                <p class="project-desc">Производитель пластиковых упаковок...</p>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <div class="image-wrap"><img class="post-image" src="img/portfolio3.jpg" alt="image monfort.co.il"/></div>
                <div class="project-overload">
                    <a class="project-over-link" href="http://monfort.co.il/" target="_blank">monfort.co.il</a>
                    <span class="over-helper">height helper</span>
                </div>
            </div>
            <div class="project-info">
                <a class="project-link" href="http://monfort.co.il/" target="_blank">monfort.co.il</a>
                <p class="project-desc">Разработка программного обеспечения...</p>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <div class="image-wrap"><img class="post-image" src="img/portfolio4.jpg" alt="image bazz.co"/></div>
                <div class="project-overload">
                    <a class="project-over-link" href="http://bazz.co/" target="_blank">bazz.co</a>
                    <span class="over-helper">height helper</span>
                </div>
            </div>
            <div class="project-info">
                <a class="project-link" href="http://bazz.co" target="_blank">bazz.co</a>
                <p class="project-desc">Сайт мобильного приложения...</p>
            </div>
        </div>
        <div class="project">
            <div class="add-project">
                <div class="project-btn">
                    <a class="project-btn-link open-btn" href="#">
                        <span class="title-wrapp">
                            <img class="add-icon" src="img/icon-image.png" alt="button image"/>
                            <span class="add-btn-title">Добавить проект</span>
                        </span>
                        <span class="over-helper">height helper</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>