.footer {
  background-color: $gray_light;
  border-top: 3px solid #e7eff3;
  clear: both;
  height: 65px;
  margin-top: -68px;
  position: relative;
  .footer-section {
    max-width: $width;
    margin: 0 auto;
    width: 100%;
  }
  .copyright {
    font-size: 0.8em;
    padding: 15px 0;
    text-align: center;
  }
  .login {
    float: left;
    margin: 10px -30px 10px 30px;
    .login-link {
      background: url('../img/icon-unlock.png');
      display: block;
      position: relative;
      height: 32px;
      width: 20px;
      &:before {
        background: url('../img/icon-lock.png');
        content: '';
        height: 32px;
        left: 0;
        position: absolute;
        top: 0;
        width: 20px;
      }
      &:hover:before {
        filter: alpha(opacity=0);
        opacity: 0;
      }
    }
  }
}
.footer:before {
  background: url('../img/border.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  content: '';
  height: 3px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 100%;
}