.header {
  background-color: $gray_light;
  border-bottom: 3px solid #e7eff3;
  margin-bottom: 38px;
  position: relative;
  .header-area {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2% 0 1.5%;
    width: 100%;
  }
}
.social-list {
  float: right;
  margin: 0;
  padding: 0;
  text-align: justify;
  width: 260px;
  .social-item {
    display: inline-block;
    vertical-align: top;
    &:before {
      content: '';
    }
  }
  .vk, .tw, .facebook, .github {
    @include border-radius(50%);
    display: block;
    overflow: hidden;
    position: relative;
    &:before {
      content: '';
    }
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
.header:before {
  background: url('../img/border.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
  bottom: -3px;
  content: '';
  height: 3px;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  width: 100%;
}