
.profile-image {
  @include border-radius(50%);
  border: 5px solid $green;
  float: left;
  height: 140px;
  max-width: 140px;
  margin: 17px 20px 25px 55px;
  overflow: hidden;
  img {
    height: auto;
    width: 100%;
  }
}
.profile-info {
  float: right;
  max-width: 420px;
  width: 100%;
  .info-list{
    margin: 0 0 7px;
  }
  .info-list-strong {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 15px 0 0;
  }
  .info-sub{
    float: right;
    max-width: 248px;
    width: 100%;
  }
  .sub-item {
    display: inline-block;
    margin: 0 5px 3px 0;
  }
  .sub-link {
    @include border-radius(2px);
    background-color: $green;
    color: white;
    font-size: 11px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    &:before {
      background-color: $green_dark;
      @include border-radius(0 0 2px 2px );
      bottom: 0;
      content: '';
      height: 50%;
      left: 0;
      position: absolute;
      width: 99%;
    }
    &:hover {
      background-color: $green_dark;
    }
    &:hover:before {
      background-color: $green;
    }
  }
  .sub-title {
    position: relative;
  }
}
.profile-desc {
  padding: 0 0 10px;
  position: relative;
  top: 11px;
  .work-item {
    background: url('../img/icon-bag.png') no-repeat 57px 50%;
    padding: 0 0 0 124px;
  }
  .icon-learn {
    background: url('../img/icon-learn.png') no-repeat 55px 50%;
  }
  .icon-doc {
    background: url('../img/icon-doc.png') no-repeat 62px 50%;
  }
  .work-item {
    line-height: 1.2;
    margin: 0 0 20px;
  }
  .work-item:last-child {
    margin: 0;
  }
  .work-title {
    display: block;
    font-size: 1.1em;
  }
}