.secondary {
  .main-navigation {
    background-color: $gray_light;
    @include border-radius(4px);
    margin: 0 0 24px;
    overflow: hidden;
    .menu-item {
      .menu-link {
        display: block;
        color: $gray_dark;
        font-size: 1.3em;
        padding: 22px 0 18px 27px;
        position: relative;
        &:hover {
          color: $green;
        }
        &:before {
          background: $green;
          bottom: -2px;
          content: '';
          height: 2px;
          left: 0;
          margin: 0 auto;
          max-width: $side_width;
          position: absolute;
          right: 0;
          width: 100%;
        }
        &.current, &.current:hover {
          background-color: $green;
          color: white;
        }
        &.current:before {
          display: none;
        }
      }
    }
    .menu-item:last-child a:before {
      display: none;
    }
  }
  .contact-menu {
    @include border-radius(4px);
    font-style: normal;
    overflow: hidden;
    .social-item:first-child {
      background-color: $green;
      color: white;
      font-size: 1.3em;
      padding: 6px 20px 4px;
    }
    .social-item {
      background-color: $green_light1;
      padding: 9px 0 7px 83px;
      position: relative;
      &:before {
        content: '';
        left: 42px;
        overflow: hidden;
        position: absolute;
        top: 10px;
      }
      .side-soc-link {
        color: white;
        position: relative;
        &:before {
          content: '';
          background-color: #fff;
          bottom: 2px;
          height: 1px;
          left: 0;
          margin: 0 auto;
          position: absolute;
          right: 0;
          width: 0;
        }
        &:hover:before {
          width: 100%;
        }
      }
      &.mail {
        background-color: $green_light1;
      }
      &.phone {
        background-color: $green_light2;
      }
      &.skype {
        background-color: $green_light3;
      }
    }
  }
}